@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    line-height: 64px;
    font-size: 48px;
}

h2 {
    line-height: 32px;
}

p {
    line-height: 22px;
}

nav {
    position: absolute;
    margin-left: 150px;
    margin-top: 45px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav > a {
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 600;
}

nav ul {
    margin-left: 200px;
}

nav, ul {
    display: flex;
}

.hamburger-menu {
    display: none;
}

li {
    list-style: none;
    margin-right: 45px;
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.hero {
    background-image: url("../assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15% 0;
}

.hero .logo {
    margin-bottom: 13px;
}

.hero h1 {
    color: white;
    margin-bottom: 42px;
}

.hero h2 {
    font-weight: 100;
    color: white;
    opacity: 70%;
}

main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 5% 0;
}

main h2 {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
}

main h3 {
    color: #666666;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
}

main p {
    flex: 0 1 400px;
    margin: 0 6%;
}

main button {
    /* button styling */
    background-color: #55C2D8;
    border: none;
    padding: 1% 3%;
    border-radius: 18px;

    /* text styling */
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.para-container {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 30px;
}

.learn-more {
    background-image: url("../assets/learn-more-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 13% 0;
}

.learn-more h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 50px;
}

.learn-more h3 {
    font-size: 24px;
    line-height: 32px;
}

.learn-more button {
    background-color: #55C2D8;
    border: none;
    border-radius: 50%;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    margin-bottom: 70px;
}

footer {
    background-color: #464547;
    color: white;
    padding: 2% 10%;
    display: flex;
}

footer span {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em;
    margin-left: 10px;
}

footer p {
    opacity: 40%;
    margin: 0 10%;
    flex: 1 1 150px;
}

footer p > a {
    color: white;
    text-decoration: none;
    margin-top: 80px;
}
footer p:last-of-type {
    margin-top: auto;
}

@media screen and (max-width: 930px) {
    nav ul {
        margin-left: 100px;
    }
}

@media screen and (max-width: 800px) {
    nav ul {
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav {
        justify-content: center;
        align-items: center;
        margin-left: 0;
        width: 100%;
        gap: 65%;
        padding: 0 5%;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu > div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .hero {
        padding: 40% 0;
    }

    .hero > * {
        margin: 0 6%;
    }

    main {
        padding: 20% 0;
    }

    main > * {
        margin: 0 6%;
    }

    main p {
        flex: 0 0 0;
        margin: 0;
    }

    main:not(button) {
        text-align: left;
    }

    .para-container {
        flex-direction: column;
        text-align: left;
    }

    .learn-more {
        padding: 40% 0;
    }

    footer {
        padding-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 10%;
    }

    footer p {
        text-align: center;
        flex: 1 1 100px;
    }
}